<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="loginMember">
		SELECT *
		FROM MEMBER M
		WHERE USER_ID = ?
		  AND USER_PWD = ?
		  AND STATUS = 1
</entry>

<entry key="insertMember">
	INSERT INTO MEMBER(USER_NO,
						   USER_ID,
						   USER_PWD,
						   USER_NAME,
						   USER_NICKNAME,
						   PHONE,
						   ADDRESS,
						   ENROLL_DATE,
						   STATUS,
						   PET)
					VALUES(SEQ_UNO.NEXTVAL,
					       ?,
					       ?,
					       ?,
					       ?,
					       ?,
					       ?,
					       SYSDATE,
					       '1',
					       ?
					       
					)
</entry>

<entry key="insertProfileImg">
	INSERT INTO ATTACHMENT(FILE_NO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH)
		VALUES (SEQ_FNO.NEXTVAL, ?, ?, ?)

</entry>

</properties>